<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julie.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrackPlayerActivity"
            android:label="@string/title_activity_track_player"
            android:parentActivityName="com.julie.spotifystreamer.MainActivity">
            <meta-data
                android:name="android.support.parent_ACTIVITY"
                android:value="com.julie.spotifystreamer.MainActivity">
            </meta-data>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.julie.spotifystreamer.MainActivity">
            <meta-data
                android:name="android.support.parent_ACTIVITY"
                android:value="com.julie.spotifystreamer.MainActivity">
            </meta-data>
        </activity>

        <service
            android:name=".MediaPlayerService"
            android:enabled="true"
            />

        <receiver android:name=".receivers.RemoteControlReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.MusicIntentReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.MediaNotificationReceiver" >
            <intent-filter>
                <action android:name="com.julie.spotifystreamer.action.PLAY" />
                <action android:name="com.julie.spotifystreamer.action.PAUSE" />
                <action android:name="com.julie.spotifystreamer.action.PLAY_PAUSE" />
                <action android:name="com.julie.spotifystreamer.action.NEXT" />
                <action android:name="com.julie.spotifystreamer.action.PREVIOUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
